<!doctype html>

<!--
    Notes:
    "navbar-brand" will set Title to left and box toggle to right
    when collapsed.
    "ml-auto" for the subheaders to move to the right (opposite
    here because it's meant for "left" technically)
    "routerlink" to point to various pages
      - If new page needed use "routerlink="/nameOfComponent" to switch pages within <a><a/>
    "href" points to specific parts on page to scroll through
-->
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Jamie Lynn Culilap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" href="#aboutMe">About</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" href="#contact">Contact Me</a>
        </li>    
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" href="assets/pdfs/resume.pdf" target="_blank">Resume</a>
        </li>
      </ul>
      </div>
</nav>
