<!doctype html>
<html>
  <head>
    <title>Project Page</title>
  </head>

  <body>
    <div >
      <h1>Little Manila Recreated</h1>
      <p>
        Collaborated in an interdisciplinary team (6 members) to reconstruct a 3D virtual environment of a historical site called Little Manila in downtown Stockton.
        Worked with the Unreal Engine and communicated with my team about models, historical information, and gameplay.
        Managed interviews with local community members for more in depth historical information.
        Presented to an audience of 120 people at University of the Pacific; includes elected officials, university leaders, and community members.
        Also presented at Graz, Austria for the 15th Eurographics Workshop in September 2019
      </p>
    </div>
    <div>
      <h1>TigAR: an AR Campus Map</h1>
      <p>
        Created an augmented reality campus map application for mobile smart phone devices. This application is used to help locate specific buildings on the Pacific campus and shows information about the building. 
        The three core functionalities of TigAR are: <br/>
        - Scanning specific images correlated to certain buildings that will display information about it on the screen <br/>
        - A GPS guidance that overlays targets in the world (augmented reality) that shows users where to go <br/>
        - Traditional 2D map with zooming capabilities <br/>
        
        The audience for TigAR are lost and confused people on the UOP campus. 
        All of the information used (such as building information) are taken from the University of the Pacific official website.
      </p>
    </div>
    <div>
      <h1>"OverKill" Java Applet</h1>
      <p>
        Collaborated with three other peers to create a top down shooter video game, comprising of a tank controlled by the user and zombies that would spawn randomly at the top of the screen. Main objective is to shoot endless waves of zombies and includes power-ups, several zombie types, customizable name changes, high score boards, graphics, and music.
      </p>
    </div>
    <div>
      <h1>OpenGL C++ Game</h1>
      <p>
        Created a grid based story game where users must collect items to win. The game was driven by a story and used a 2D grid to move around. It implemented an inventory space that could increase in size, store items at any space to be revisited, and had multiple classes designed to support the mechanics.
      </p>
    </div>

  </body>

</html>
