@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

// Use these across other .scss files to access var
$mobile-width: "(min-width: 360px) and (max-width: 1023px)";
$desktop-width: "(min-width: 1024px)";


html {
    font-family: 'Noto Serif JP';
    font-size: 18px;
}



