<!doctype html>
<html>
<head>
  <title>Home Page</title>
</head>

<div class="background">
  <div class="text-block" id="aboutMe">
    <h1>Hello, I'm<br/>Jamie Lynn Culilap</h1>
  </div>
</div>

<!--
    Notes:
    Bootstrap organizes by container->row->col
    Up to 12 columns
-->
<body>
  <div class="container">
    <div class="row margin-bot">
      <div class="col-sm-4">
        <h1>About Me</h1>
        <p>
          Hello! <br/>
          I'm a software engineer that loves tinkering and working with different kinds of technologies. I grew up with an inventor mindset and since then I've built multiple PCs in my spare time. While I'm not coding I enjoy spending time with my pet bird, Link, playing video games with friends, and getting excited over PC parts.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="../../assets/img/Link.jpg" class="img-link" alt="Link Bird">
        <p style="text-align: center;">
          Link loves his veggies!
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Details</h4>
        <p>
          <b>Name</b>: <br/>Jamie Lynn Culilap<br/>
          <b>Education</b>: <br/>Bachelor's in Computer Science<br/>
          <b>Hobbies</b>: <br/>PC enthusiast, gamer, fisher <br/>
          <b>Location</b>: <br/>California, USA<br/>
        </p>
        <h5><a href="assets/pdfs/resume.pdf" target="_blank">My Resume</a></h5>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <h1>Education</h1>
      </div>
    </div>
    <div class="row margin-bot">
      <div class="col-sm">
        <p>
          University: University of the Pacific<br/>
          Degree: Bachelor's in Computer Science and a concentration in Graphics and Simulation<br/>
          Honors: Outstanding Graduate Award (2019), Dean’s Honor Roll (2016, 2017, 2019)<br/>
          Relevant Coursework: Data Structures, Application Development, Design and Analysis of Algorithms, Digital Design, Programming Languages, Computer System and Networks, Human-Computer Interface Design, AI, Operating Systems, Computing Theory, Computer Simulation, Computer Graphics, Discrete Mathematics, Game Technologies<br/>
        </p>
      </div>
    </div>
    
    <div class="row">
        <div class="col">
          <h1>My Skills</h1>
        </div>
    </div>
    <div class="row margin-bot">
      <div class="col-sm">
        <p>
          Languages: Python, Java, C++, C#, C, HTML, CSS, Javascript<br/>
          Software: Eclipse, PyCharm, Visual Studios, GitHub, Bitbucket, Basecamp, Unreal Engine, Unity Engine<br/>
          Operating Systems: Linux (different flavors), Windows<br/>
          Industry: Git, Object-Oriented Programming (OOP), Agile Software Development<br/>
        </p>
      </div>
    </div>

    <div class="row">
        <div class="col">
          <h1>Work Experience</h1>
        </div>
    </div>
    <div class="row margin-bot">
      <div class="col-sm">
        <h5>Software Developer</h5>
          <p>
            August 2018 - May 2019 <br/>
            University of the Pacific Library<br/>
            ▪ Launched efforts for the Innovative Project Studio (IP Studio) at the University Library<br/>
            ▪ Fabricated a cost-effective interactive medium for users to learn about history through a hologram<br/>
            ▪ Created and expanded on the Little Manila Recreated project, written in C++, towards classroom curriculum<br/> 
            ▪ Presented projects at local middle schools, festivals, and competitions for IP Studio presence and significance<br/>
            ▪ Competed at the Pacific Innovation and Entrepreneurship Summit (PIEs) against 20+ other teams<br/>
            <br/>
          </p>
        <h5>Product Marketing Engineer Intern</h5>	 
        <div  id="projects">   
          <p>
            Spring & Summer 2018<br/>
            Intel Corporation – Folsom, California<br/>
            ▪ Designed technical documents, slide decks, and collaterals for production teams to push upcoming SSD devices<br/>
            ▪ Created scripts and used internal benchmarking tools to test various workloads for 100+ SSDs monthly<br/>
            ▪ Built Excel tools to help aid in the marketing team for documentation<br/>
            ▪ Prototyped the front-end interface for a new internal Python tool to improve task efficiency<br/>
            ▪ Worked with database systems and JSON files<br/>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col">
          <h1>Projects</h1>
        </div>
    </div>
    <div class="row margin-bot">
      <div class="col-sm">
        <h5>Little Manila Recreated</h5>
        <p>
          Collaborated in an interdisciplinary team (6 members) to reconstruct a 3D virtual environment of a historical site called Little Manila in downtown Stockton.<br/>
          - Worked with the Unreal Engine and communicated with my team about models, historical information, and gameplay.<br/>
          - Managed interviews with local community members for more in depth historical information.<br/>
          - Presented to an audience of 120 people at University of the Pacific; includes elected officials, university leaders, and community members.<br/>
          - Also presented at Graz, Austria for the 15th Eurographics Workshop in September 2019<br/>
        </p>

        <h5>TigAR: an AR Campus Map</h5>
        <p>
          Created an augmented reality campus map application for mobile smart phone devices. This application is used to help locate specific buildings on the Pacific campus and shows information about the building. 
          The three core functionalities of TigAR are: <br/>
          - Scanning specific images correlated to certain buildings that will display information about it on the screen <br/>
          - A GPS guidance that overlays targets in the world (augmented reality) that shows users where to go <br/>
          - Traditional 2D map with zooming capabilities <br/>
          
          The audience for TigAR are lost and confused people on the UOP campus. <br/>
          All of the information used (such as building information) are taken from the University of the Pacific official website. <br/>
        </p>

        <h5>"OverKill" Java Applet</h5>
        <p>
          Collaborated with three other peers to create a top down shooter video game, comprising of a tank controlled by the user and zombies that would spawn randomly at the top of the screen. Main objective is to shoot endless waves of zombies and includes power-ups, several zombie types, customizable name changes, high score boards, graphics, and music.
        </p>

        <h5>OpenGL C++ Game</h5>
        <p>
          Created a grid based story game where users must collect items to win. The game was driven by a story and used a 2D grid to move around. It implemented an inventory space that could increase in size, store items at any space to be revisited, and had multiple classes designed to support the mechanics.
        </p>
      </div>
    </div>

    <div class="row" id="contact">
      <div class="col center-text">
        <h1>Contact Me</h1>
      </div>
    </div>
    <div class="row">
      <div class="col center-text">
        <a href="https://github.com/shiniko" target="_blank">
          <img src="../../assets/img/github_dark_120px.png" class="img-icon" alt="GitHub">
        </a>
      </div>
      <div class="col center-text">
        <a href="https://www.linkedin.com/in/jamielynnculilap/" target="_blank">
          <img src="../../assets/img/LinkedIn.png" class="img-icon" alt="LinkedIn">
        </a>
      </div>
      <div class="col center-text margin-bot">
        <a href="mailto:jamculilap@gmail.com"  target="_blank">
          <img src="../../assets/img/gmail.png" class="img-icon" alt="gmail">
        </a>
      </div>
    </div>
  </div>
</body>
</html>

