<!doctype html>
<html>
  <head>
    <title>Home Page</title>
  </head>

<body>
  <img src="assets/img/Intel.jpg" alt="Volunteering at Intel" width=600 height=400 class=rotateimg90>
  <div class="info">
    <h1>About Me</h1>
    <p>
      Hello! My name is Jamie Lynn Culilap.<br/>
      I recently graduated from University of the Pacific with a B.S. in Computer Science 
      and a concentration in Graphics and Simulation.<br/>
      While I'm not coding I enjoy spending time with my pet bird, Link, playing video games 
      with friends, and getting excited over PC parts.
    </p>
    <h1>My Skills</h1>
    <p>
      Languages: Python, Java, C++, C#, C<br/>
      Software: Eclipse, PyCharm, Visual Studios 2015, GitHub, Bitbucket, Basecamp, Unreal Engine, 
      Unity Engine<br/>
      Relevant Coursework: Data Structures, Application Development, Design and Analysis of Algorithms, 
      Digital Design, Programming Languages, Computer System and Networks, Human-Computer Interface Design, 
      AI, Operating Systems<br/>
    </p>
    <h3><a href="assets/pdfs/resume.pdf">My Resume</a></h3>
  </div>
</body>

</html>

