img{
    padding-top: 200px;
    float: left;
}

.rotateimg90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.info {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}